@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
  --lime-green: #D8F878;
  --pink: #E47CB8;
  --purple: #9448B0;
  --indigo: #332277;
  --dark-blue: #001C3D;
  --light-text: #f0f0f0;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-montserrat), Arial, Helvetica, sans-serif;
}

@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-20px);
  }
}

@keyframes floatPanel {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  10% {
    opacity: 0.1;
  }
  90% {
    opacity: 0.1;
  }
  100% {
    transform: translateY(-100vh);
    opacity: 0;
  }
}

.control-btn {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 0.1s ease-in-out;
}

.control-btn:active {
  transform: scale(0.95);
}

.d-pad-btn {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.2s ease-in-out;
}

.d-pad-btn:active {
  transform: scale(0.95);
  background-color: rgba(255, 255, 255, 0.5);
}
